.fondo
{
    background-color: rgb(85, 85, 205);
}
.primero
{
    margin: 100px 100px; 
    text-align: center; 
    color: white;
    border-radius: 100px;
}
.titulo
{
    color: white;
}
.fila1
{
    text-align: center;
    background-color: #b9b5b5;
    font-size: 17px;
    font-family:'Lucida Sans';
}
.fila2
{
    text-align: left;
}
.tabla
{
   background-color: rgb(255, 255, 255);
   text-align: right;
   margin:  10px;
    width: 600px;
   height: 700px; 
   margin: 0 auto;
}
.enviar
{
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-family:'Lucida Sans';
    height: 32px;
    width: 25%;
    float: left;
    margin: auto 225px;
}
